[*.cs]

# IDE0010: Add missing cases
dotnet_diagnostic.ide0010.severity=none

# IDE0022: Use block body for methods
csharp_style_expression_bodied_methods=true:silent

# IDE0066: Convert switch statement to expression
csharp_style_prefer_switch_expression=true:silent

# CA1027: Mark enums with FlagsAttribute
# **Note: Enums should not get this attribute unless they are intended to be combined
dotnet_diagnostic.CA1027.severity = none

# CA1028: Enum Storage should be Int32
# **Note: It should be the numeric type that usage dictates
dotnet_diagnostic.ca1028.severity=none

# CA1034: Nested types should not be visible
# **Note: That shouldn't happen often, but there are also few legitimate exceptions
dotnet_diagnostic.ca1034.severity=none

# CA1054: Uri parameters should not be strings
# **Note: Optional features that allows the user to skip manually converting to Uri
dotnet_diagnostic.ca1054.severity=none

# CA2234: Pass system uri objects instead of strings
# **Note: Manually converting to Uri isn't necessary
dotnet_diagnostic.CA2234.severity = none

# CA5350: Do Not Use Weak Cryptographic Algorithms
# **Note: Not intended for security relevant use
dotnet_diagnostic.ca5350.severity=none

# CA5351: Do Not Use Broken Cryptographic Algorithms
# **Note: Not intended for security relevant use
dotnet_diagnostic.ca5351.severity=none

# CA5379: Do Not Use Weak Key Derivation Function Algorithm
# **Note: Not intended for security relevant use
dotnet_diagnostic.ca5379.severity=none


[*.{asax,ascx,aspx,cs,cshtml,css,htm,html,js,jsx,master,razor,skin,ts,tsx,vb,xaml,xamlx,xoml}]
indent_style=space
indent_size=4
tab_width=4


[*.{appxmanifest,build,config,csproj,dbml,discomap,dtd,json,jsproj,lsproj,njsproj,nuspec,proj,props,resjson,resw,resx,StyleCop,targets,tasks,vbproj,xml,xsd}]
indent_style=space
indent_size=2
tab_width=2


[*]

# Microsoft .NET properties
csharp_new_line_before_members_in_object_initializers=false
csharp_preferred_modifier_order=public, private, protected, internal, new, abstract, virtual, sealed, override, static, readonly, extern, unsafe, volatile, async:suggestion
csharp_prefer_braces=false:none
csharp_space_after_cast=false
csharp_style_var_elsewhere=true:hint
csharp_style_var_for_built_in_types=true:hint
csharp_style_var_when_type_is_apparent=true:hint
dotnet_style_predefined_type_for_locals_parameters_members=true:hint
dotnet_style_predefined_type_for_member_access=true:hint
dotnet_style_qualification_for_event=false:warning
dotnet_style_qualification_for_field=false:warning
dotnet_style_qualification_for_method=false:warning
dotnet_style_qualification_for_property=false:warning
dotnet_style_require_accessibility_modifiers=for_non_interface_members:hint

# ReSharper properties
resharper_add_imports_to_deepest_scope=true
resharper_align_linq_query=true
resharper_align_multiline_argument=true
resharper_align_multiline_calls_chain=true
resharper_align_multiline_extends_list=true
resharper_align_multiline_for_stmt=true
resharper_align_multline_type_parameter_constrains=true
resharper_align_multline_type_parameter_list=true
resharper_blank_lines_after_block_statements=0
resharper_blank_lines_around_single_line_auto_property=1
resharper_blank_lines_around_single_line_property=1
resharper_blank_lines_before_single_line_comment=1
resharper_constructor_or_destructor_body=expression_body
resharper_csharp_align_first_arg_by_paren=true
resharper_csharp_align_multiline_parameter=true
resharper_csharp_align_multiple_declaration=true
resharper_csharp_empty_block_style=together_same_line
resharper_csharp_insert_final_newline=true
resharper_csharp_keep_blank_lines_in_code=1
resharper_csharp_keep_blank_lines_in_declarations=0
resharper_csharp_new_line_before_while=true
resharper_csharp_stick_comment=false
resharper_csharp_use_indent_from_vs=false
resharper_csharp_wrap_lines=false
resharper_indent_nested_fixed_stmt=true
resharper_indent_nested_foreach_stmt=true
resharper_indent_nested_for_stmt=true
resharper_indent_nested_lock_stmt=true
resharper_indent_nested_usings_stmt=true
resharper_indent_nested_while_stmt=true
resharper_local_function_body=expression_body
resharper_method_or_operator_body=expression_body
resharper_place_accessor_attribute_on_same_line=False
resharper_place_field_attribute_on_same_line=False
resharper_place_simple_embedded_statement_on_same_line=False
resharper_space_after_cast=false
resharper_space_between_attribute_sections=false
resharper_space_within_single_line_array_initializer_braces=true
resharper_xmldoc_attribute_indent=align_by_first_attribute
resharper_xmldoc_attribute_style=on_single_line
resharper_xmldoc_keep_user_linebreaks=false
resharper_xmldoc_linebreaks_inside_tags_for_elements_longer_than=0
resharper_xmldoc_max_line_length=80
resharper_xmldoc_pi_attribute_style=on_single_line
resharper_xmldoc_space_before_self_closing=false
resharper_xmldoc_wrap_tags_and_pi=false

# ReSharper inspection severities
resharper_arrange_attributes_highlighting=suggestion
resharper_arrange_constructor_or_destructor_body_highlighting=suggestion
resharper_arrange_local_function_body_highlighting=suggestion
resharper_arrange_method_or_operator_body_highlighting=suggestion
resharper_arrange_redundant_parentheses_highlighting=suggestion
resharper_check_namespace_highlighting=none
resharper_convert_to_compound_assignment_highlighting=suggestion
resharper_empty_constructor_highlighting=suggestion
resharper_empty_general_catch_clause_highlighting=suggestion
resharper_for_can_be_converted_to_foreach_highlighting=hint
resharper_identifier_typo_highlighting=none
resharper_loop_can_be_partly_converted_to_query_highlighting=hint
resharper_string_compare_is_culture_specific_1_highlighting=suggestion
resharper_string_compare_is_culture_specific_2_highlighting=suggestion
resharper_string_compare_is_culture_specific_3_highlighting=suggestion
resharper_string_compare_is_culture_specific_4_highlighting=suggestion
resharper_string_compare_is_culture_specific_5_highlighting=suggestion
resharper_string_compare_is_culture_specific_6_highlighting=suggestion
resharper_string_compare_to_is_culture_specific_highlighting=suggestion
resharper_string_index_of_is_culture_specific_1_highlighting=suggestion
resharper_string_index_of_is_culture_specific_2_highlighting=suggestion
resharper_string_index_of_is_culture_specific_3_highlighting=suggestion
resharper_string_last_index_of_is_culture_specific_1_highlighting=suggestion
resharper_string_last_index_of_is_culture_specific_2_highlighting=suggestion
resharper_string_last_index_of_is_culture_specific_3_highlighting=suggestion
resharper_string_literal_typo_highlighting=none
resharper_suspicious_type_conversion_global_highlighting=suggestion
resharper_switch_statement_missing_some_cases_highlighting=none
resharper_unused_member_global_highlighting=none
resharper_unused_method_return_value_global_highlighting=none
resharper_use_null_propagation_highlighting=warning
resharper_use_null_propagation_when_possible_highlighting=suggestion
resharper_vb_string_compare_is_culture_specific_1_highlighting=suggestion
resharper_vb_string_compare_is_culture_specific_2_highlighting=suggestion
resharper_vb_string_compare_is_culture_specific_3_highlighting=suggestion
resharper_vb_string_compare_is_culture_specific_4_highlighting=suggestion
resharper_vb_string_compare_is_culture_specific_5_highlighting=suggestion
resharper_vb_string_compare_is_culture_specific_6_highlighting=suggestion
resharper_vb_string_compare_to_is_culture_specific_highlighting=suggestion
resharper_vb_string_index_of_is_culture_specific_1_highlighting=suggestion
resharper_vb_string_index_of_is_culture_specific_2_highlighting=suggestion
resharper_vb_string_index_of_is_culture_specific_3_highlighting=suggestion
resharper_vb_string_last_index_of_is_culture_specific_1_highlighting=suggestion
resharper_vb_string_last_index_of_is_culture_specific_2_highlighting=suggestion
resharper_vb_string_last_index_of_is_culture_specific_3_highlighting=suggestion

