# ── Default ───────────────────────────────────────────────────────────────────

* text=auto eol=lf

# ── Binaries ──────────────────────────────────────────────────────────────────

*.png   binary
*.ico   binary
*.exe   binary
*.dll   binary
*.dat   binary
